* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(253, 253, 253);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    min-width: 850px;
}

.back {
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
    display: flex;
    flex-direction: row-reverse;
    gap: 2px;
    align-items: center;
    justify-content: center;
    color: rgba(75, 126, 236, 0.7);
    font-size: 18px;
}

.back svg {
    width: 22px;
    height: 22px;
    display: inline-block;
    stroke-width: 2;
    vertical-align: middle;
}

.back:hover {
    cursor: pointer;
    color: rgba(75, 126, 236, 1);
}


.content {
    position: relative;
    max-width: 800px;
    width: 98%;
    height: auto;
    background-color: white;
}

.form-image {
    display: block;
    width: 100%;
    height: auto;
}

.form-field {
    position: absolute;
    box-sizing: border-box;
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: normal;
    padding: 2px;
    padding-left: 4px;
    text-transform: capitalize;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
}


.form-column {
    position: absolute;          
    display: grid;              
    grid-template-columns: 1fr;
    row-gap: 2px;
    box-sizing: border-box;
}

.column-item {
    position: static;            
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
}

.form-row {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 9fr;
    row-gap: 6px;
    box-sizing: border-box;
}

.row-item {
    position: static;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
}

.services {
    position: absolute;
    top: 44.7%;
    left: 19.5%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.service {
    height: 21px;
    display: grid;
    grid-template-columns: 258px 20px 80px 60px 40px 60px 60px;
    align-items: center;
}

.service :nth-child(2) {
    padding-left: 0px;
}

.service :nth-child(3) {
    padding-left: 17px;
}

.service :nth-child(4) {
    padding-left: 0px;
}

.service :nth-child(5) {
    padding-left: 5px;
}

.service :nth-child(6) {
    padding-left: 9px;
}

.service :nth-child(7) {
    padding-left: 6px;
}

.cell { 
    position: static; 
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    font-size: 10px; }

.invoice-number {
    top: 13.2%;
    left: 25.8%;
    width: 22.7%;
    height: 3.8%;
    font-size: 25px;
}

.invoice-place {
    top: 13.1%;
    left: 52.4%;
    width: 22.7%;
    height: 2%;
}
.invoice-date {
    top: 13.1%;
    left: 75%;
    width: 16%;
    height: 2%;
}
.invoice-payment-term {
    top: 21.5%;
    left: 14.5%;
    width: 12%;
    height: 2%;
}
.invoice-payment-method {
    top: 21.5%;
    left: 28%;
    width: 20.5%;
    height: 2%;
}
.invoice-issue-date{
    left: 52.3%;
    top: 21.5%;
    width: 38.7%;
    height: 2%;
}

.seller{
    top: 28.3%;
    left: 20%;
}

.buyer{
    top: 28.3%;
    left: 59%;
}

.bank-account{
    top: 37%;
    left: 24%;
    width: 400px;
}

.invoice-total-netto{
    top: 66.7%;
    left: 62%;
    height: 2%;
    width: 8%;
    font-size: 10px;
}

.invoice-total-vat{
    top: 66.7%;
    left: 76.3%;
    height: 2%;
    width: 7%;
    font-size: 10px;
}

.invoice-total{
    top: 66.7%;
    left: 83.2%;
    height: 2%;
    width: 8%;
    font-size: 10px;
    font-weight: bold;
}

.invoice-notes{
    top: 70.4%;
    left: 14.2%;
    height: 6%;
    width: 36%;
}

.invoice-issuer{
    top: 80%;
    left: 14.3%;
    width: 36%;
    height: 3.7%;
}

.about {
    position: relative;
    bottom: 13%;
    padding-top: 20px;
    text-align: center;
    color: rgba(75, 126, 236, 0.7);
    font-size: 18px;
}

h4 {
    font: italic 18px Arial, Helvetica, sans-serif;
    color: rgba(75, 126, 236, 0.7);
    font-weight: 100;
}