body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(253, 253, 253);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

.header h1 {
    text-align: center;
    color: white;
    background-color: rgba(75, 126, 236, 0.428);
    padding-top: 20px;
    padding-bottom: 20px;
    width: 80vw;
    border-radius: 20px;
    font-size: 40px;
    box-shadow: 0 12px 40px rgba(44, 104, 233, 0.2), 0 6px 24px rgba(0, 0, 0, 0.08);
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1;
    padding: 20px 0;
}

.main h2 {
    margin-top: 0;
    text-align: center;
    color: rgba(75, 126, 236, 0.7);
    font-size: 30px;
    margin-bottom: 30px;
}

.projects {
    display: grid;
    justify-items: center;
    row-gap: 20px;
    grid-template-rows: auto;
    max-height: 80vh;
    min-height: 70vh;
    overflow-y: auto;
    padding: 10px;
}

.project {
    background-color: white;
    width: 77vw;
    border-radius: 20px;
    box-shadow: 0 12px 40px rgba(44, 104, 233, 0.2), 0 6px 24px rgba(0, 0, 0, 0.08);
    padding: 20px;
    display: grid;
    grid-template-columns: fit-content(5%) fit-content(35%) 1fr fit-content(20%);
    align-items: center;
    gap: 10px;
    box-sizing: border-box;

    transition: transform 0.3s ease-in-out;
    will-change: transform;
    transform-origin: center;
}

.project:hover{
    transform: scale(1.01);
    transition: transform 0.3s;
    cursor: pointer;
}

.project *{
    margin: 0;
    padding: 0;
}

.project span{
    font-size: 25px;
    color: rgba(75, 126, 236, 0.7);
    justify-self: center;
}

.project h3{
    color: rgba(75, 126, 236, 0.7);
    font-size: 25px;
    justify-self: center
}

.project p{
    color: rgba(0, 0, 0, 0.7);
    font-size: 18px;
    justify-self: center
}

.project a{
    color: rgba(75, 126, 236, 0.7);
    font-size: 18px;
    text-decoration: none;
    justify-self: center;
}

.project a:hover{
    text-decoration: underline;
}

.footer {
    margin-top: auto;
}

.footer h2{
    text-align: center;
    color: white;
    background-color: rgba(75, 126, 236, 0.428);
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100vw;
    margin: 0;
    box-shadow: 0 12px 40px rgba(44, 104, 233, 0.2), 0 6px 24px rgba(0, 0, 0, 0.08);
    font-weight: 200;
    font-style: italic;
    font-size: medium;
}





