* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(253, 253, 253);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
}

.back {
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
    display: flex;
    flex-direction: row-reverse;
    gap: 2px;
    align-items: center;
    justify-content: center;
    color: rgba(75, 126, 236, 0.7);
    font-size: 18px;
}

.back svg {
    width: 22px;
    height: 22px;
    display: inline-block;
    stroke-width: 2;
    vertical-align: middle;
}

.back:hover {
    cursor: pointer;
    color: rgba(75, 126, 236, 1);
}

.about {
    padding-top: 20px;
    text-align: center;
    color: rgba(75, 126, 236, 0.7);
    font-size: 18px;
}

h4 {
    font: italic 18px Arial, Helvetica, sans-serif;
    color: rgba(75, 126, 236, 0.7);
    font-weight: 100;
}

.hero {
    width: 100%;
    height: fit-content;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero h1 {
    width: fit-content;
    text-align: center;
    color: rgba(75, 126, 236, 0.7);
    font-size: 40px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
}

.content a {
    text-decoration: none;
    color: rgba(75, 126, 236, 0.7);
    font-size: 18px;
    margin-bottom: -10px;
}

.content a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.error{
    font-weight: bold;
    margin-top: 20px;
}

.row p {
    font-size: 20px;
    color: rgba(75, 126, 236, 0.7);
    padding-top: 7px;
    padding-bottom: 7px;
    width: fit-content;
}

.row h2 {
    font-size: 24px;
    color: rgba(75, 126, 236, 1);
    margin: 0;
    padding: 0;
    text-align: left;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
    margin-bottom: 10px;
}